<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-risk-heading">Create or edit a Risk</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!risk.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="risk.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_openedAt">Opened At</label>
                    <div class="input-group">
                        <input id="field_openedAt" type="text" class="form-control" name="openedAt" ngbDatepicker  #openedAtDp="ngbDatepicker" [(ngModel)]="risk.openedAt"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="openedAtDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.openedAt?.dirty && editForm.controls.openedAt?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.openedAt?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                        [(ngModel)]="risk.title" required/>
                    <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.title?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                        [(ngModel)]="risk.description" required></textarea>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_mitigation">Mitigation</label>
                    <textarea class="form-control" name="mitigation" id="field_mitigation"
                        [(ngModel)]="risk.mitigation" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_riskStatus">Risk Status</label>
                    <select class="form-control" name="riskStatus" [(ngModel)]="risk.riskStatus" id="field_riskStatus"  required>
                        <option value="OPEN">OPEN</option>
                        <option value="CLOSED">CLOSED</option>
                    </select>
                    <div [hidden]="!(editForm.controls.riskStatus?.dirty && editForm.controls.riskStatus?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.riskStatus?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_priority">Priority</label>
                    <select class="form-control" name="priority" [(ngModel)]="risk.priority" id="field_priority"  required>
                        <option value="LOW">LOW</option>
                        <option value="MEDIUM">MEDIUM</option>
                        <option value="HIGH">HIGH</option>
                    </select>
                    <div [hidden]="!(editForm.controls.priority?.dirty && editForm.controls.priority?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.priority?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_closedAt">Closed At</label>
                    <div class="input-group">
                        <input id="field_closedAt" type="text" class="form-control" name="closedAt" ngbDatepicker  #closedAtDp="ngbDatepicker" [(ngModel)]="risk.closedAt"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="closedAtDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
