<div>
    <h2 id="page-heading">
      <span style="font-weight: bold">Risks</span>
      <button id="jh-create-entity" *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn btn-primary float-right create-risk" [routerLink]="['/risk/new']">
        <fa-icon [icon]="'plus'"></fa-icon>
        <span>Create New Risk</span>
      </button>
    </h2>
    <hr>
    <h5 id="filter-option">Filter  Options:</h5>
    <br/>
    <div class="row">
      <h6 class="col-md-1 filter-choice">Risk Status</h6>
      <select class="form-control col-md-1" [(ngModel)]="selectedStatus" (ngModelChange)="onFilter()"  name="probStatus" id="field_probStatus">
        <option value="ALL">ALL</option>
        <option value="OPEN">OPEN</option>
        <option value="CLOSED">CLOSED</option>
      </select>
      <h6 class="col-md-1 filter-choice">Risk Priority</h6>
      <select class="form-control col-md-1" [(ngModel)]="selectedPriority" (ngModelChange)="onFilter()"  name="priority" id="field_priority">
        <option value="ALL">ALL</option>
        <option value="HIGH">HIGH</option>
        <option value="MEDIUM">MEDIUM</option>
        <option value="LOW">LOW</option>
      </select>
      <button *ngIf="clearFilter" (click)="onClearFilter()" id="filter-button" class="btn btn-primary">Clear Filters</button>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="risks">
        <table class="table table-striped">
            <thead>
            <tr>
              <th><span>ID</span></th>
              <th><span>Created On</span></th>
              <th><span>Title</span></th>
              <th><span>Status</span></th>
              <th><span>Priority</span></th>
              <th><span>Problems</span></th>
              <th><span>Closed On</span></th>
              <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let risk of risks ;trackBy: trackId">
                <td>{{risk.id}}</td>
                <td>{{risk.openedAt | date:'mediumDate'}}</td>
                <td>{{risk.title}}</td>
                <td>{{risk.riskStatus}}</td>
                <td>{{risk.priority}}</td>
                <td>{{risk.problemCount}}</td>
                <td>{{risk.closedAt | date:'mediumDate'}}</td>
                <td class="text-right">
                    <button id="view-button"
                            type="submit"
                            (click)="setRiskUpdatesReturnPage(risk.id)"
                            class="btn btn-info btn-sm">
                        <fa-icon [icon]="'eye'"></fa-icon>
                        <span class="d-none d-md-inline">View</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
