<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="risk">
            <h2><span>Risk</span> {{risk.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Opened At</span></dt>
                <dd>
                    <span>{{risk.openedAt}}</span>
                </dd>
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{risk.title}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{risk.description}}</span>
                </dd>
                <dt><span>Mitigation</span></dt>
                <dd>
                    <span>{{risk.mitigation}}</span>
                </dd>
                <dt><span>Risk Status</span></dt>
                <dd>
                    <span>{{risk.riskStatus}}</span>
                </dd>
                <dt><span>Priority</span></dt>
                <dd>
                    <span>{{risk.priority}}</span>
                </dd>
                <dt><span>Closed At</span></dt>
                <dd>
                    <span>{{risk.closedAt}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/risk', risk.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
