p {
    font-size: 15px;
    font-weight: normal;
}

#filter-option {
    padding-bottom: 5px;
}

#filter-button {
    margin-left: 50px;
}

.filter-choice {
    padding-top: 7px;
    padding-left: 60px;
}
