<div>
    <h2 id="page-heading">
        <span>Problems</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-problem" [routerLink]="['/problem/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Problem
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="problems">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="openedAt"><span>Opened At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span>Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="statement"><span>Statement</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="probStatus"><span>Prob Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="priority"><span>Priority</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="closedAt"><span>Closed At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="riskRecId"><span>Risk Rec</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let problem of problems ;trackBy: trackId">
                <td><a [routerLink]="['/problem', problem.id, 'view' ]">{{problem.id}}</a></td>
                <td>{{problem.openedAt | date:'mediumDate'}}</td>
                <td>{{problem.title}}</td>
                <td>{{problem.statement}}</td>
                <td>{{problem.probStatus}}</td>
                <td>{{problem.priority}}</td>
                <td>{{problem.closedAt | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="problem.riskRecId">
                        <a [routerLink]="['../risk', problem.riskRecId , 'view' ]" >{{problem.riskRecId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/problem', problem.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/problem', problem.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'problem', { outlets: { popup: problem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
