<div>
    <h2 id="page-heading">
        <span>Incidents</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-incident" [routerLink]="['/incident/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Incident
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="incidents">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="openedAt"><span>Opened At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span>Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="severity"><span>Severity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="incidentStatus"><span>Incident Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="closedAt"><span>Closed At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="probRecId"><span>Prob Rec</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let incident of incidents ;trackBy: trackId">
                <td><a [routerLink]="['/incident', incident.id, 'view' ]">{{incident.id}}</a></td>
                <td>{{incident.openedAt | date:'mediumDate'}}</td>
                <td>{{incident.description}}</td>
                <td>{{incident.severity}}</td>
                <td>{{incident.incidentStatus}}</td>
                <td>{{incident.closedAt | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="incident.probRecId">
                        <a [routerLink]="['../problem', incident.probRecId , 'view' ]" >{{incident.probRecId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/incident', incident.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/incident', incident.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'incident', { outlets: { popup: incident.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
