<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="incident">
            <h2><span>Incident</span> {{incident.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Opened At</span></dt>
                <dd>
                    <span>{{incident.openedAt}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{incident.description}}</span>
                </dd>
                <dt><span>Severity</span></dt>
                <dd>
                    <span>{{incident.severity}}</span>
                </dd>
                <dt><span>Incident Status</span></dt>
                <dd>
                    <span>{{incident.incidentStatus}}</span>
                </dd>
                <dt><span>Closed At</span></dt>
                <dd>
                    <span>{{incident.closedAt}}</span>
                </dd>
                <dt><span>Prob Rec</span></dt>
                <dd>
                    <div *ngIf="incident.probRecId">
                        <a [routerLink]="['/problem', incident.probRecId, 'view']">{{incident.probRecId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/incident', incident.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
