<div>
    <h2 id="page-heading">
        <span style="font-weight: bold">Incident List</span>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-incident" [routerLink]="['/incident/new']">
          <fa-icon [icon]="'plus'"></fa-icon>
          <span>Create New Incident</span>
        </button>
    </h2>
    <hr>
    <h5 id="filter-option">Filter  Options:</h5>
    <br>
    <div class="row">
        <h6 class="col-md-1 filter-choice">Status</h6>
        <select class="form-control col-md-1" [(ngModel)]="selectedStatus" (ngModelChange)="onFilter()"  name="incidentStatus" id="field_incidentStatus">
            <option value="ALL">ALL</option>
            <option value="OPEN">OPEN</option>
            <option value="CLOSED">CLOSED</option>
        </select>
        <h6 class="col-md-1 filter-choice">Severity</h6>
        <select class="form-control col-md-1" [(ngModel)]="selectedSeverity" (ngModelChange)="onFilter()"  name="severity" id="field_severity">
            <option value="ALL">ALL</option>
            <option value="P1">P1</option>
            <option value="P2">P2</option>
            <option value="P3">P3</option>
            <option value="P4">P4</option>
        </select>
        <button *ngIf="clearFilter" (click)="onClearFilter()" id="filter-button" class="btn btn-primary">Clear Filters</button>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="incidents">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Opened</span></th>
            <th><span>Description</span></th>
            <th><span>Severity</span></th>
            <th><span>Status</span></th>
            <th><span>Closed</span></th>
              <th><span>ProblemLink?</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let incident of incidents ;trackBy: trackId">
                <td>{{incident.id}}</td>
                <td>{{incident.openedAt | date:'mediumDate'}}</td>
                <td>{{incident.description}}</td>
                <td>{{incident.severity}}</td>
                <td>{{incident.incidentStatus}}</td>
                <td>{{incident.closedAt | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="incident.probRecId">
                      <a (click)="setProblemUpdatesReturnPage(incident.probRecId )">{{incident.probRecId}}</a>
                    </div>
                </td>
                <td class="text-right">
                  <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn-group flex-btn-group-container">
                      <button *ngIf="incident.incidentStatus != 'CLOSED'"
                              type="submit"
                              [routerLink]="['/', 'incident', { outlets: { popup: incident.id + '/close'} }]"
                              class="btn btn-dark btn-sm">
                        <fa-icon [icon]="'times'"></fa-icon>
                        <span class="d-none d-md-inline">Close</span>
                      </button>
                      <button id="view-button"
                              type="submit"
                              (click)="setIncidentUpdatesReturnPage(incident.id)"
                              class="btn btn-info btn-sm">
                          <fa-icon [icon]="'eye'"></fa-icon>
                          <span class="d-none d-md-inline">View</span>
                      </button>
                      <button type="submit"
                              [routerLink]="['/incident', incident.id, 'edit']"
                              class="btn btn-primary btn-sm">
                          <fa-icon [icon]="'pencil-alt'"></fa-icon>
                          <span class="d-none d-md-inline">Edit</span>
                      </button>
                      <button type="submit"
                              [routerLink]="['/', 'incident', { outlets: { popup: incident.id + '/delete'} }]"
                              replaceUrl="true"
                              queryParamsHandling="merge"
                              class="btn btn-danger btn-sm">
                          <fa-icon [icon]="'times'"></fa-icon>
                          <span class="d-none d-md-inline">Delete</span>
                      </button>
                  </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
