#status {
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    margin: 40px 150px 100px 150px;
    img {
        height: 200px;
        width: 200px;
        padding-bottom: 10px;
    }
    h1 {
        font-size: 50px;
        font-weight: bold;
        color: #2e2e30;
    }
    h4 {
        font-weight: bold;
    }
}
