<div>
    <div *ngIf="risk">
      <h2 style="font-weight: bold">Risk No: {{riskID}}
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'"
                type="submit"
                [routerLink]="['/risk', risk.id, 'edit']"
                class="btn btn-primary my-btn-left-margin">
          <fa-icon [icon]="'pencil-alt'"></fa-icon>
          <span class="d-none d-md-inline">Edit Risk</span>
        </button>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'"
                type="submit"
                [routerLink]="['/', 'risk', { outlets: { popup: risk.id + '/delete'} }]"
                replaceUrl="true"
                queryParamsHandling="merge"
                class="btn btn-danger">
          <fa-icon [icon]="'times'"></fa-icon>
          <span class="d-none d-md-inline">Delete Risk</span>
        </button>
      </h2>
      <br>
      <h4 style="font-weight: bold">Risk Title: </h4>
      <h4 class="risk-details">{{risk.title}}</h4>
      <br>
      <h4 style="font-weight: bold">Risk Description: </h4>
      <h4 class="risk-details">{{risk.description}}</h4>
      <br>
      <h4 style="font-weight: bold">Risk Mitigation: </h4>
      <h4 class="risk-details">{{risk.mitigation }}</h4>
      <br/>
      <h4><span style="font-weight: bold">Open: </span><span class="risk-details">{{risk.openedAt | date:'mediumDate'}}</span></h4>
      <h4><span style="font-weight: bold">Status: </span><span class="risk-details">{{risk.riskStatus}}</span></h4>
      <h4><span style="font-weight: bold">Priority: </span><span class="risk-details">{{risk.priority}}</span></h4>
      <h4 *ngIf="risk.closedAt"><span style="font-weight: bold">Closed: </span><span class="risk-details">{{risk.closedAt | date:'mediumDate'}}</span></h4>
      <br>
    </div>
    <br/>
    <hr>
    <h2>
        <span style="font-weight: bold">Risk History</span>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity" class="my-btn-left-margin btn btn-primary create-risk-updates" [routerLink]="['/risk-updates', riskID, 'new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>Add Update</span>
        </button>
    </h2>
    <br/>
    <div class="table-responsive" *ngIf="riskUpdates.length > 0">
        <table class="table table-striped">
          <thead>
          <tr>
            <th><span>ID</span></th>
            <th><span>Updated At</span></th>
            <th><span>Update Text</span></th>
            <th></th>
          </tr>
          </thead>
            <tbody class="risk-updates" infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let riskUpdates of riskUpdates ;trackBy: trackId">
                <td>{{riskUpdates.id}}</td>
                <td>{{riskUpdates.updatedAt | date:'mediumDate'}}</td>
                <td>{{riskUpdates.updateText}}</td>
                <td class="text-right">
                    <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn-group">
                        <button type="submit"
                                [routerLink]="['/risk-updates', riskUpdates.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'risk-updates', { outlets: { popup: riskUpdates.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
<!--    <h2>-->
<!--      <span style="font-weight: bold">Problems</span>-->
<!--    </h2>-->
<!--    <br/>-->
<!--    <div class="table-responsive" *ngIf="riskUpdates">-->
<!--      <table class="table table-striped">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th><span>ID</span></th>-->
<!--          <th><span>Problem Description</span></th>-->
<!--          <th><span>Problem Status</span></th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">-->
<!--        <tr *ngFor="let riskUpdates of riskUpdates ;trackBy: trackId">-->
<!--          <td>{{riskUpdates.id}}</td>-->
<!--          <td>{{riskUpdates.updateText}}</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
  <!--     <hr> -->
<!--    </div>-->
  <button type="submit"
          (click)="previousState()"
          class="btn btn-info">
    <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
  </button>
</div>
