<div>
    <h2 id="page-heading">
        <span>Risk Updates</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-risk-updates" [routerLink]="['/risk-updates/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Risk Updates
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="riskUpdates">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updatedAt"><span>Updated At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updateText"><span>Update Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="riskkUpdateId"><span>Riskk Update</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let riskUpdates of riskUpdates ;trackBy: trackId">
                <td><a [routerLink]="['/risk-updates', riskUpdates.id, 'view' ]">{{riskUpdates.id}}</a></td>
                <td>{{riskUpdates.updatedAt | date:'mediumDate'}}</td>
                <td>{{riskUpdates.updateText}}</td>
                <td>
                    <div *ngIf="riskUpdates.riskkUpdateId">
                        <a [routerLink]="['../risk', riskUpdates.riskkUpdateId , 'view' ]" >{{riskUpdates.riskkUpdateId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/risk-updates', riskUpdates.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/risk-updates', riskUpdates.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'risk-updates', { outlets: { popup: riskUpdates.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
