.my-btn-left-margin {
    margin-left: 20px;
}

.risk-details {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.risk-updates {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.risk-problems {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
