#logo {
    margin-top: 30px;
    background: url('../../../content/images/support2.png') no-repeat center center;
    padding: 0 0 380px 0;
    text-align: center;

    h1 {
        font-size: 70px;
        font-weight: bold;
        color: #2e2e30;
    }
}
