<div>
    <div *ngIf="incident">
      <h2 style="font-weight: bold">Incident No: {{incidentID}}
        <span *jhiHasAnyAuthority="'ROLE_ADMIN'">
          <button *ngIf="incident.incidentStatus != 'CLOSED'"
                  type="submit"
                  [routerLink]="['/', 'incident', { outlets: { popup: incident.id + '/close'} }]"
                  class="btn btn-dark my-btn-left-margin">
            <fa-icon [icon]="'times'"></fa-icon>
            <span class="d-none d-md-inline">Close Incident</span>
          </button>
          <button type="submit"
                  [routerLink]="['/incident', incident.id, 'edit']"
                  class="btn btn-primary">
            <fa-icon [icon]="'pencil-alt'"></fa-icon>
            <span class="d-none d-md-inline">Edit Incident</span>
          </button>
          <button type="submit"
                  [routerLink]="['/', 'incident', { outlets: { popup: incident.id + '/delete'} }]"
                  replaceUrl="true"
                  queryParamsHandling="merge"
                  class="btn btn-danger"
                  id="incident-delete">
            <fa-icon [icon]="'times'"></fa-icon>
            <span class="d-none d-md-inline">Delete Incident</span>
          </button>
        </span>
      </h2>
      <br>
      <h4 style="font-weight: bold">Incident Description: </h4>
      <h4 class="incident-details">{{incident.description}}</h4>
      <br/>
      <h4><span style="font-weight: bold">Opened: </span><span class="incident-details">{{incident.openedAt | date:'mediumDate'}}</span></h4>
      <h4><span style="font-weight: bold">Status: </span><span class="incident-details">{{incident.incidentStatus }}</span></h4>
      <h4><span style="font-weight: bold">Severity: </span><span class="incident-details">{{incident.severity}}</span></h4>
      <h4 *ngIf="incident.closedAt"><span style="font-weight: bold">Closed: </span><span class="incident-details">{{incident.closedAt | date:'mediumDate'}}</span></h4>
      <h4 *ngIf="incident.probRecId"><span style="font-weight: bold">Problem Link: </span><a class="incident-details" (click)=setProblemUpdatesReturnPage(incident.probRecId)>{{incident.probRecId}}</a></h4>
      <br>
    </div>
    <hr>
    <h2 id="page-heading">
        <span style="font-weight: bold">Incident History</span>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity" class="my-btn-left-margin btn btn-primary create-incident-updates" [routerLink]="['/incident-updates', incidentID, 'new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>Add Update</span>
        </button>
    </h2>
    <br/>
    <div class="table-responsive" *ngIf="incidentUpdates.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
              <th><span>ID</span></th>
              <th><span>Updated At</span></th>
              <th><span>Update Text</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody class="incident-updates">
            <tr *ngFor="let incidentUpdates of incidentUpdates ;trackBy: trackId">
                <td>{{incidentUpdates.id}}</td>
                <td>{{incidentUpdates.updatedAt | date:'mediumDate'}}</td>
                <td>{{incidentUpdates.updateText}}</td>
                <td class="text-right">
                    <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn-group">
                        <button type="submit"
                                [routerLink]="['/incident-updates', incidentUpdates.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'incident-updates', { outlets: { popup: incidentUpdates.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
      <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
