<div>
    <div *ngIf="problem">
      <h2 style="font-weight: bold">Problem No: {{ problemID }}</h2>
      <h4>{{ problem.title }}</h4>
      <br/>
      <h4><span style="font-weight: bold">Problem Statement:</span> {{ problem.statement }}</h4>
      <br/>
      <h4><span style="font-weight: bold">Status:</span> {{ problem.probStatus }}</h4>
      <h4><span style="font-weight: bold">Priority:</span> {{ problem.priority }}</h4>
      <h4 *ngIf="problem.riskRecId"><span style="font-weight: bold">Risk Link:</span><a (click)=setRiskUpdatesReturnPage(problem.riskRecId)> {{problem.riskRecId}}</a></h4>
      <br>
    </div>
    <br/>
    <hr>
    <h2 id="page-heading">
        <span style="font-weight: bold">Problem Updates</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-problem-updates" [routerLink]="['/problem-updates', problemID, 'new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >Add Update</span>
        </button>
    </h2>
    <br/>
    <div class="table-responsive" *ngIf="problemUpdates">
        <table class="table table-striped">
            <thead>
            <tr>
              <th><span>ID</span></th>
              <th><span>Updated At</span></th>
              <th><span>Update Text</span></th>
              <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let problemUpdates of problemUpdates ;trackBy: trackId">
                <td>{{problemUpdates.id}}</td>
                <td>{{problemUpdates.updatedAt | date:'mediumDate'}}</td>
                <td>{{problemUpdates.updateText}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/problem-updates', problemUpdates.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'problem-updates', { outlets: { popup: problemUpdates.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
      <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
