pre {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 22px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.my-btn-left-margin {
    margin-left: 20px;
}

.problem-details {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 22px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
