<div>
    <div *ngIf="problem">
      <h2 style="font-weight: bold">Problem No: {{problemID}}
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'"
                type="submit"
                [routerLink]="['/problem', problem.id, 'edit']"
                class="btn btn-primary my-btn-left-margin">
          <fa-icon [icon]="'pencil-alt'"></fa-icon>
          <span class="d-none d-md-inline">Edit Problem</span>
        </button>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'"
                type="submit"
                [routerLink]="['/', 'problem', { outlets: { popup: problem.id + '/delete'} }]"
                replaceUrl="true"
                queryParamsHandling="merge"
                class="btn btn-danger">
          <fa-icon [icon]="'times'"></fa-icon>
          <span class="d-none d-md-inline">Delete Problem</span>
        </button>
      </h2>
      <br>
      <h4 style="font-weight: bold">Problem Title: </h4>
      <p class="problem-details">{{ problem.title }}</p>
      <br/>
      <h4 style="font-weight: bold">Problem Statement: </h4>
      <p class="problem-details">{{ problem.statement }}</p>
      <br/>
      <h4><span style="font-weight: bold">Opened: </span><span class="problem-details">{{ problem.openedAt | date:'mediumDate'}}</span></h4>
      <h4><span style="font-weight: bold">Status: </span><span class="problem-details">{{ problem.probStatus }}</span></h4>
      <h4><span style="font-weight: bold">Priority: </span><span class="problem-details">{{ problem.priority }}</span></h4>
      <h4><span style="font-weight: bold">Incidents: </span><span class="problem-details">{{ problem.incidentCount }}</span></h4>
      <h4 *ngIf="problem.closedAt"><span style="font-weight: bold">Closed: </span><span class="problem-details">{{problem.closedAt | date:'mediumDate'}}</span></h4>
      <h4 *ngIf="problem.riskRecId"><span style="font-weight: bold">Risk-Link: </span><a (click)=setRiskUpdatesReturnPage(problem.riskRecId) style="color:#0074D9;font-size: 20px">{{ problem.riskRecId }}</a></h4>
      <br/>
    </div>
    <hr>
    <h2>
        <span style="font-weight: bold">Problem History</span>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity" class="my-btn-left-margin btn btn-primary create-problem-updates" [routerLink]="['/problem-updates', problemID, 'new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>Add Update</span>
        </button>
    </h2>
    <br/>
    <div class="table-responsive" *ngIf="problemUpdates.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
              <th><span>ID</span></th>
              <th><span>Updated At</span></th>
              <th><span>Update Text</span></th>
              <th></th>
            </tr>
            </thead>
            <tbody class="problem-updates" infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let problemUpdate of problemUpdates ;trackBy: trackId">
                <td>{{problemUpdate.id}}</td>
                <td>{{problemUpdate.updatedAt | date:'mediumDate'}}</td>
                <td>{{problemUpdate.updateText}}</td>
                <td class="text-right">
                    <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn-group">
                        <button type="submit"
                                [routerLink]="['/problem-updates', problemUpdate.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'problem-updates', { outlets: { popup: problemUpdate.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div *ngIf="problemIncidents.length > 0">
      <h2>
        <span style="font-weight: bold">Incidents</span>
      </h2>
      <br/>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th><span>ID</span></th>
            <th><span>Opened</span></th>
            <th><span>Incident Description</span></th>
            <th><span>Incident Severity</span></th>
          </tr>
          </thead>
          <tbody class="problem-incidents" infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
          <tr *ngFor="let problemIncident of problemIncidents ;trackBy: trackId">
            <td><a (click)=setIncidentUpdatesReturnPage(problemIncident.id) style="color:#0074D9">{{problemIncident.id}}</a></td>
            <td>{{problemIncident.openedAt | date:'mediumDate'}}</td>
            <td>{{problemIncident.description}}</td>
            <td>{{problemIncident.severity}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <hr>
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
      <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
