<div>
    <h2>
      <span style="font-weight: bold">Application Details</span>
      <button class="btn btn-primary float-right jh-create-entity create-app" *ngIf="apps.length === 0" [routerLink]="['/app/new']">
        <fa-icon [icon]="'plus'"></fa-icon>
        <span>Enter Your Application Details</span>
      </button>
    </h2>
    <br/>
    <div class="table-responsive" *ngIf="apps">
        <table class="table table-striped">
            <thead>
            <tr>
              <th><span>Name</span></th>
              <th><span>Problem Count</span></th>
              <th><span>System Status</span></th>
              <th><span>Last Problem Date</span></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let app of apps ;trackBy: trackId">
                <td>{{app.name}}</td>
                <td>{{app.problemCount}}</td>
                <td>{{app.sysStatus}}</td>
                <td>{{app.lastProblemDate | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/app', app.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'app', { outlets: { popup: app.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
